

.main {
  background-image: url('');
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.cardmain {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  width: 300px;
}

.cardinfo h1 {
  font-family: 'Comic Sans MS', cursive;
  color: #000000;
}

.cardinfo p {
  font-family: 'Comic Sans MS', cursive;
  font-size: 16px;
  color: #549bb9;
}

.cardform h4 {
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  color: #f95c05;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 50%; /* Forma más circular */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 160px;
  position: relative;
  animation: moveText 3s infinite alternate;
}


.logo img {
  width: 100px;
  animation: moveLogo 2s infinite alternate;
}

@keyframes moveLogo {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(10px); 
  }
}


.cardform h4:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

@keyframes moveText {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

.cardform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input_user,
.input_pass {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.input_user img,
.input_pass img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  font-style: italic;
}

.btn, .btn-register {
  display: block;
  margin: 10px auto;
  padding: 2px 20px; 
  background-color: rgb(0, 104, 189);
  color: #fff;
  border: none;
  border-radius: 60px; 
  font-size: 16px; 
  cursor: pointer;
  font-family: 'Comic Sans MS', cursive; 
  text-decoration: none; 
  display: inline-block; 
}

.btn:hover, .btn-register:hover {
  background-color: #01080e;
}
